@import-normalize;

:root {
  --text-color: #fff;
  --hover-color: #FF6B08;
  --secondary-text-color: #000;
  --additional-text-color: #8C8C8C;
  /* --bgd-header: linear-gradient(-45deg, #9925ea, #338aff, #9925ea);
  --title-color: -webkit-linear-gradient(#9925ea, #338aff, #9925ea);
  --text-header: #fff;
  --text-color: #173D33;
  --hover-color: #FFFF00; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

code {
  font-family: source-code-pro, Roboto, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}

ul,
ol,
li {
 margin: 0;
 padding: 0;
 list-style: none;
}

img {
  display: block;
 max-width: 100%;
 height: auto;
}